@using ForumAdminPanel.ViewModels;
@model IEnumerable<UserViewModel>

@{
    var userlist = Model.ToList();
}

<h1>Search user resoult</h1>

<div>
    <a asp-action="SearchUserInput" class="btn btn-light">Return to search</a>
</div>

<div>
    @{
        if (userlist != null)
        {
            foreach (var user in userlist)
            {
                <p>@user.UserName</p>
                <p>@user.Email</p>
            }
        }
        else
        {
            <p>No user found</p>
        }
    }
</div>
    
